html {
  background: #e0f8cf;
  color: #33462a;
}

body {
  font-family: "Frisky Puppy", monospace;
}
body {
  transform: scale(.85);
  transform-origin: 50% 0;
// add prefixed versions too.
}


p,
h1,
h2,
h3 {
  color: #33462a;
  font-family: inherit;
  color: inherit;
}

h1 {
  text-align: center;
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}

.topnav {
  max-width: 1000px;
  margin: auto;
}

.topnav a {
  color: #33462a;
  text-align: center;
  padding: 14px 75px;
  right: 20px;
  left: 20px;
  text-decoration: none;
  font-size: 40px;
  font-family: "Frisky Puppy", monospace;
}
.topnav a:hover {
  color: #739E5E;
}

hr {
  color: #33462a;
}

.content {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.topright {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 35px;
}

.containernqr {
  display: grid;
  grid-template-columns: 650px auto;
  grid-template-rows: 70px auto auto;
  gap: 10px;
  border-radius: 10px;
}

.containernqr > div {
  /*
  background-color: #f1f1f1;
  border: 1px solid black;
  */
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  background: #d1e8c1;
}

.containeruc {
  display: grid;
  grid-template-columns: auto 650px;
  grid-template-rows: 70px auto auto;
  gap: 10px;
  border-radius: 10px;
}

.containeruc > div {
  /*
  background-color: #f1f1f1;
  border: 1px solid black;
  */
  background-color: black;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  color:white;
}

.item5 {
  grid-column: 1 / 3;
}

.sociallogo {
  width: 64px;
  height: 64px;
  padding: 10px;
}
.link {
  text-decoration: none;
}

.gamedate,
.gametitle {
  margin: 0px;
  padding: 10px;
}

.gameimage {
  float: left;
  padding:10px;
  border-radius: 20px;
  
}

.gamedeschr {
  margin: 0px 10px;
}

.buttontext {
  margin: 0px;
  color: #33462a;
}

.item4 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 10px;
  border-radius: 10px;
}

.leftdesc {
  padding: 5px 10px;
}

.playbuttonarea {
  align-self: flex-end;
}

.playbutton {
  border: #33462a solid 5px;
  border-radius: 20px;
  margin: 10px;
  height: 80px;
  width: 200px;
  font-family: inherit;
  background: #e0f8cf;
}

.playbutton button:hover {
  background: #d1e8c1;
}

.notquiteright {
  font-family: "Tiny5", monospace;
  font-weight: bold;
}

.tiny5 {
  font-family: "Tiny5", monospace;
  font-weight: bold;
}