@background-color: #e0f8cf;
@accent-color: #33462a;
@hover-color: #739E5E;
@background-color2: #d1e8c1;
@default-font: "Frisky Puppy", monospace;
@border-radius: 10px;

.artgallery a {
  text-decoration: none;
}

.row {
  height: 300px;
  margin: 5px;
}
.argallery a {
  margin: 0px 5px;
}

.artgallery img {
  height: 100%;
}

.row2:extend(.row) {
  height:386.5px;
}

.row3:extend(.row) {
  height:314px;
}

.row4:extend(.row) {
  height:322px;
}

.row5:extend(.row) {
  height:284px;
}

.row6:extend(.row) {
  height:412.5px;
}

.artdesc {
  margin: 20px auto 0px;
}

.click {
  margin: 0px;
}