@background-color: #e0f8cf;
@accent-color: #33462a;
@hover-color: #739E5E;
@default-font: "Frisky Puppy", monospace;
@border-radius: 10px;

html {
  background: @background-color;
  color: @accent-color;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  font-family: @default-font;
  color: @accent-color;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


p,
h1,
h2,
h3 {
  font-family: inherit;
  color: inherit;
  text-decoration-color: @accent-color;
}

a:hover {
  color: @hover-color;
}

h1 {
  text-align: center;
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}

/* NAVIGATION BAR */

.topnav {
  max-width: 1000px;
  margin: auto;
}

.topnav a {
  color: @accent-color;
  text-align: center;
  padding: 14px 75px;
  right: 20px;
  left: 20px;
  text-decoration: none;
  font-size: 40px;
  font-family: "Frisky Puppy", monospace;
}
.topnav a:hover {
  color: @hover-color;
}

.sticky {
  position: sticky;
  top: 0;
  padding-top: 5px;
  background: @background-color;
}

/* MISC. >*/

hr {
  color: @accent-color;
}

.content {
  max-width: 1820px;
  margin: auto;
  text-align: center;
}
.content::-webkit-scrollbar {
  display: none;
}

/* FOOTER */
.sociallogo {
  width: 64px;
  height: 64px;
  padding: 10px;
}
.link {
  text-decoration: none;
}